body {
	height: 100%;
}
h1 {
	color: #276678;
	text-align: center;
	font-family: "Varela Round", sans-serif;
	font-size: 48px;
	font-weight: 200;
	padding-top: 80px;
	margin: 0 auto;
}
h2 {
	color: #276678;
	font-size: 28px;
}

ul {
	list-style-type: none;
	text-align: left;
	padding: 20px 20px 0;
	margin: 0;
}
a {
	color: #1687a7;
	text-decoration: none;
}
.container {
	width: 600px;
	display: block;
	align-items: center;
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.form-group {
	text-align: center;
	font-size: 14px;
	font-family: "Varela Round", sans-serif;
	color: grey;
	padding: 10px;
	margin: 0px auto;
	width: 100%;
}
.form-control {
	border-color: #d3e0ea;
	font-size: 20px;
	width: 80%;
	margin: 0 auto;
}
.row {
	padding: 8px;
	margin: 0 auto;
}
.btn {
	background-color: #276678;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px auto;
	border-style: none;
}
.btn:hover {
	background-color: #1687a7;
	border: #1687a7;
}
.weather-container {
	width: 75%;
	margin-left: 0%;
}
.current-weather-container {
	position: relative;
	color: grey;
	left: 0px;
}

.currentCity {
	font-size: 40px;
	color: #276678;
}

.forecast-container {
	color: #1687a7;
	font-size: 28px;
}

.temperature {
	font-size: 14px;
	font-display: top;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

#weather-description {
	font-family: Arial, Helvetica, sans-serif;
	color: grey;
	font-size: 14px;
}
#instructions {
	font-size: 16px;
}

#units {
	position: relative;
	font-size: 16px;
	top: -16px;
}
